/* для телефонов */
@media(min-width:500px) {
    div {
        color: white;
        background-color: blue;
        text-align: center;
        border-bottom: 1px solid grey;
    }

    section {
        display: flex;
        flex-direction: column;
    }
}

/* для планшетов: */
@media(min-width:1000px) {
    div {
        color: white;
        background-color: blue;
        text-align: center;
        border-bottom: 1px solid grey;
        width: 25%;
    }

    section {
        display: flex;
        flex-direction: row;
    }
}

/* для ПК: */
@media(min-width:1500px) {
    div {
        color: white;
        text-align: center;
        border-bottom: 1px solid grey;
        width: 15%;
    }

    section {
        background-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}