/* для телефонов */
/* div {
    color: white;
    background-color: blue;
    text-align: center;
    border-bottom: 1px solid grey;
}

section {
    display: flex;
    flex-direction: column;
} */
/* для планшетов: */
/* div {
    color: white;
    background-color: blue;
    text-align: center;
    border-bottom: 1px solid grey;
    width: 25%;
}
section {
    display: flex;
    flex-direction: row;
} */
/* для ПК: */
/* div {
    color: white;
    text-align: center;
    border-bottom: 1px solid grey;
    width: 15%;
}

section {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */