body {
    margin: 0%;
}

#container {
    background-color: rgb(185, 175, 173);
}

.slider {
    width: 380px;
    height: 477px;
    border: 2px solid black;
    /* overflow: hidden; */
    margin: auto;
}

.slider-line {
    height: 477px;
    width: 1520px;
    background-color: rgb(185, 175, 173);
    display: flex;
    position: relative;
    left: 0;
    transition: all ease-in-out 1s;
}

img {
    width: 300px;
    height: 370px;
    margin: auto;
    border-radius: 30px;
}