body {
    margin: 0%;
}

header {
    background-color: red;
}

article {
    background-color: rgb(76, 76, 243);
    height: 100px;
}

#aside1 {
    background-color: yellow;
}

#aside2 {
    background-color: pink;
}

footer {
    background-color: green;
}

header,
#aside1,
#aside2,
footer {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

div#contenido,#test {
    display: flex;
    flex-direction: column;
}

@media(min-width:700px) {
    div#contenido {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        flex-basis: 100%;
        /* flex-grow: 1; */
    }

    aside {
        flex-basis: 50%;
    }

    footer {
        flex-basis: 100%;
        /* flex-grow: 1; */
    }
}

/* @media(min-width:700px) {
    div#test {
        flex-direction: row;
    }

    aside {
        width: 50%;
    }
} */