body {
    margin: 0%;
}

header {
    background-color: red;
}

article {
    background-color: blue;
    height: 100px;
}

#aside1 {
    background-color: yellow;
}

#aside2 {
    background-color: pink;
}

footer {
    background-color: green;
}

header, #aside1, #aside2, footer {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

main {
    display: flex;
    flex-direction: column;
}