body {
    margin: 0%;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    display: flex;
    height: 50px;
    /* justify-content: space-between; */
    align-items: flex-start;
}

header picture {
    order: 2;
    width: 40%;

}

header picture img {
    height: 50px;

}

header nav#menu-principal {
    width: 20%;
}

header nav#menu-principal label {
    font-size: 50px;
}

header nav#menu-principal input,
header nav#menu-principal ul {
    display: none;
}

header nav#buscador {
    width: 20%;
}

header nav#buscador ul {
    list-style-type: none;
    margin: 0;
}

header nav#buscador ul li a i {
    font-size: 50px;
    color: black;
}

header nav#compra {
    order: 50;
    width: 20%;
    text-align: right;
}

header nav#compra ul {
    list-style-type: none;
    margin: 0%;
}

header nav#compra ul li a i {
    font-size: 50px;
    color: black;
}

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main article {
    width: 45%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

main article :first-child {
    order: 1;
    color: black;
    text-decoration: none;
    align-self: center;
}

main article :first-child:hover {
    color: black;
    text-decoration: none;
    align-self: center;
}

main article p {
    order: 50;
    align-self: center;
}

main article a>picture {
    order: 0;
    /* width: 100%; */
}

main article a picture img {
    width: 100%;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
}

footer nav#menu-adicional {
    width: 100%;
}

footer nav#menu-adicional ul {
    padding: 0;
    list-style: none;
}

footer nav#menu-adicional ul li {
    border-bottom: 1px solid black;
}

footer nav#menu-adicional ul li a {
    color: black;
    text-decoration: none;
    align-self: center;
}

footer nav#iconos-sociales {
    flex-direction: row;
}

footer nav#iconos-sociales ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

footer nav#iconos-sociales ul li a i {
    color: grey;
    margin: 5px;
    font-size: 20px;
}