@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

h3,
h4,
h5 {
    font-family: Oswald;
}

h4,
h5 {
    font-weight: 100;
    margin: 5px;
}

p {
    font-family: Merriweather;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

section>h2 {
    text-align: center;
    font-size: 4rem;
    margin: 0%;
    margin-bottom: 1%;
    flex-basis: 100%;
}

article {
    /* border: 1px solid black; */
    flex-basis: 23%;
}

article>img {
    width: 100%;
}

.breaking {
    flex-basis: 47%;
}

.breaking>img {
    width: 100%;
}

article>h3 {
    font-size: 2rem;
}

article>h4,
article>h5 {
    text-align: right;
}

@media(max-width: 750px) {
    section{
        flex-direction: column;
    }
}