body {
    background-color: #efedeb;
    margin: 0%;
    padding: 0%;
    /* display: flex; */
    /* width: 100%; */
}

/* color */
a {
    color: #1a191a;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 60px;
    background-color: green;
    background-color: #1a191a;
}

header>* {
    margin-top: 20px;
}

header a#logo {
    order: -1;
    margin-right: auto;
}

header nav#bloque-iconos {
    margin-right: 20px;
}

header nav#bloque-iconos a {
    margin-left: 10px;
}

header nav#menu-principal {
    order: -2;
    margin-left: 20px;
    margin-right: 20px;
}

header nav#menu-principal label span {
    color: white;
}

header nav#menu-principal input {
    /* display: none; */
    position: absolute;
    width: 15px;
    height: 15px;
    left: 15px;
}

/* show */
header nav#menu-principal input:checked+ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    color: white;
    background-color: black;
    z-index: 2;
    width: 100%;
    left: 0;
}

header nav#menu-principal input:checked+ul li {
    display: flex;
    height: 80px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

header nav#menu-principal input:checked+ul li a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav#menu-principal input:checked+ul li a span {
    display: block;
    /* width: 40%; */
}

header nav#menu-principal input:checked+ul li a>span+span {
    text-align: right;
}

header nav#menu-principal ul {
    display: none;
}

/* main */
main * {
    color: white;
}

main section {
    background-color: #f5f4f3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

section h2,
section div {
    background-color: black;
}

main section#sec-gelducha h2 {
    width: 100%;
    margin: 0%;
    margin-top: -2px;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
}

main section#sec-gelducha div {
    width: 100%;
    margin-top: -2px;
}

main section#sec-gelducha div p {
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 50%;
    font-size: larger;
}

/* articles */
main section article {
    background: white;
    color: #515152;
    border: 2px solid #eeedec;
    width: 49%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

main section article * {
    color: #515152;
}

main section article h3 {
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

main section article p {
    width: 100%;
    text-align: center;
    font-size: larger;
    padding-left: 20px;
}

main section article span {
    width: 49%;
    padding: 20px;
    font-size: larger;
}

article img {
    background-color: #faf9f8;
}

main section article>img {
    height: 80px;
    text-align: center;
}

main section article picture {
    width: 100%;
    order: -1;
}

main section article picture img {
    width: 100%;
    height: auto;
}

main section article input {
    display: none;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer * {
    color: white;
}

/* nav */
footer nav#menu-adicional {
    width: 100%;
}

footer nav#menu-adicional ul li {
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid white;
    height: 100px;
}

footer nav#menu-adicional ul li span {
    width: 40%;
}

footer nav#menu-adicional ul li>span+span {
    text-align: right;
    padding-right: 20px;
}

footer nav#menu-adicional ul li ul {
    display: none;
}

/* other footer */
footer nav#menu-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;
}

footer nav#menu-social ul {
    width: 50%;
    padding: 0%;
    margin: auto;
    display: flex;
}

footer nav#menu-social ul li,
footer nav#menu-social ul li a,
footer nav#menu-social ul li a img {
    width: 50px;
    display: block;
}

footer nav#menu-social ul li {
    margin: 10px;
}

footer picture {
    width: 50%;
    text-align: center;
}

footer picture img {
    height: 100px;
}

footer small {
    margin: 20px;
}


@media (min-width: 600px) {
    main section {
        justify-content: flex-start;
        gap: 1%;
    }

    main section article {
        width: 32%;
    }
}

@media (min-width: 800px) {
    a {
        color: white;
        text-decoration: none;
    }

    header nav#menu-principal label,
    header nav#menu-principal input {
        display: none;
    }

    header nav#menu-principal ul {
        display: flex;
        color: white;
        
    }

    header nav#menu-principal input:checked+ul li {
        display: block;
    }

    header nav#menu-principal input:checked+ul li a {
        color: white;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    footer nav {
        width: 40%;
    }

    footer picture,
    footer small {
        width: 100%;
    }

    footer nav#menu-adicional {
        width: 70%;
    }

    footer nav#menu-social {
        width: 30%;
    }

    footer nav#menu-adicional ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    footer nav#menu-adicional ul li {
        width: 24%;
        border: none;
    }

    footer nav#menu-adicional ul li span {
        width: 100%;
    }

    footer nav#menu-adicional ul li>span+span {
        display: none;
    }

    footer nav#menu-social ul li,
    footer nav#menu-social ul li a,
    footer nav#menu-social ul li a img {
        width: 50px;
    }

}