header {
    text-align: center;
    color: white;
    background-color: aqua;
    height: 50px;
    line-height: 50px;
}

nav {
    text-align: center;
    color: white;
    background-color: orange;
    order: -1;
    height: 50px;
    line-height: 50px;
}

article {
    text-align: center;
    color: white;
    background-color: purple;
    height: 50px;
    line-height: 50px;
}

aside {
    text-align: center;
    color: white;
    background-color: rgb(141, 141, 233);
    height: 50px;
    line-height: 50px;
}

footer {
    text-align: center;
    color: white;
    background-color: blue;
    height: 50px;
    line-height: 50px;
}
main,#contenido {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    main{
        flex-direction: row;
    }
    article{
        /* width: 60%; */
        flex-grow: 2;
        height: 500px;
    }
    nav{
        /* width: 20%; */
        flex-grow: 1;
        height: 500px;
    }
    aside{
        /* width: 20%; */
        flex-grow: 1;
        height: 500px;
    }
}