/* FOOTER */
footer {
    background-color: #211F23;
    padding: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.375rem;
}

footer p {
    margin: 0;
    color: white;
    font-size: 0.9375rem;
    font-weight: 600;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-info>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contacts-map-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 28.5rem;
    gap: 5rem;
}

.tel {
    color: #FF5E00;
}

.socialmedia-info {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.6875rem;
}

@media screen and (max-width: 320px) {
    .tel {
        font-size: .8125rem;
    }
}