/* GENERAL */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #211F23;
}

/* COMPONENTS */
.btn {
    width: fit-content;
    height: 2.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    background-color: #FF5E00;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    transition: 0.25s;
}

h2 {
    text-align: center;
    margin: 0;
    color: #DBD3C5;
    font-size: 1.875rem;
    font-weight: 600;
}

/* input form */
.form-input-line {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form-input-line>* {
    outline: 1px solid red;
}

.form-input-line>p {
    margin: 0;
    font-size: .9375rem;
}

.form-input-block {
    position: relative;
    width: 50%;
    border-radius: .625rem;
    overflow: hidden;
}

.form-input-block svg {
    position: absolute;
    top: 0;
    right: 0;
    rotate: 90deg;
    height: .9375rem;
    width: 1rem;
}

.form-input-block>* {
    background-color: #DBD3C5;
    border: none;
    width: 100%;
    display: flex;
}

.form-input-block>*:focus {
    outline: none;
}

.form-input-block input {
    padding-left: .5rem;
}


/* effects */
.recomended-item:hover {
    transition: 0.25s;
    filter: drop-shadow(0rem .25rem .25rem black);
}

.menu-item:hover {
    transition: 0.25s;
    filter: drop-shadow(0rem .25rem .25rem black);
}

/* хз нужно ли делать для кнопок ховер */
.btn:hover {
    transition: 0.25s;
    background-color: #DBD3C5;
    color: #FF5E00;
}

.input-err-shadow {
    box-shadow: 0rem 0rem .3125rem .125rem #F36C50;
    /* filter: drop-shadow(0rem 0rem .3125rem #F36C50); */
}