/*phone*/
@media screen and (max-width: 480px) {
    /* css */
}

/* tablet */
@media screen and (min-width: 768px) {
    main>* {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .slider-container picture {
        height: 100%;
        max-height: 18.75rem;
    }

    /* recomended */
    .recomended-item {
        flex: 0 32%;
    }

    .recomended-block .recomended-item:nth-child(3n-1) {
        margin-right: auto;
    }

    /* menu */
    .menu-item {
        flex: 0 32%;
    }

    .pagination-page .menu-item:nth-child(3n-1) {
        margin-right: auto;
    }

    /* footer */
    .contacts-map-info {
        gap: 15.625rem;
    }

    /* item */
    .item-basis>picture {
        width: 13.75rem;
        height: 13.75rem;
    }

    .item-controls {
        flex-direction: row;
        height: fit-content;
    }

    .item-slider-container {
        scrollbar-width: thin;
    }

    .item-basis {
        flex-wrap: wrap;
        position: relative;
    }

    .item-additional-info {
        display: block;
        position: absolute;
        right: 1rem;
        bottom: 0;
        width: calc(100vw - 3rem - 13.75rem);
    }

    /* info screen */
    .info-screen {
        height: 60vw;
    }

    /* padding */
    .main-order,
    .main-pay,
    .main-order-made>* {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    .main-book,
    .about-form {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .about-form>.captcha {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    /* css */
}

/* laptop */
@media screen and (min-width: 1024px) {

    /* css */
    /* header */
    .header-ini,
    .header-general {
        position: static;
        padding: 0;
    }

    .header-ini>*,
    .header-general>*,
    .header-general>.header-logo {
        display: none;
    }

    .header-desktop {
        width: 90%;
        max-width: 1032px;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-logo>picture>img {
        max-width: 9.75rem;
    }

    .desktop-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;
        color: white;
        font-size: 1.25rem;
    }

    /* main */
    main>* {
        max-width: 1032px;
        margin: 4rem;
        margin: auto;
        box-sizing: content-box;
    }

    /* ini screen */
    .ini-screen {
        display: none;
    }

    /* recomended */
    .recomended-container {
        align-items: start;
    }

    .recomended-block,
    .pagination-page {
        gap: 1.5rem;
        justify-content: flex-start;
    }

    .recomended-item,
    .menu-item {
        flex: 0 23%;
    }

    .recomended-block .recomended-item:nth-child(3n-1),
    .pagination-page .menu-item:nth-child(3n-1) {
        margin-right: 0;
    }

    /* gallery */
    .gallery {
        display: block;
        align-items: start;
        padding-bottom: 3rem;
    }

    .slider-container picture,
    .slider-container picture img {
        max-height: 12.5rem;
    }

    /* footer */
    footer {
        padding: 0;
    }

    footer>.contacts-map-info,
    footer>.socialmedia-info {
        display: none;
    }

    .footer-desktop {
        display: block;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        display: flex;
        flex-direction: row;
        max-width: 1032px;
        width: 100%;
    }

    .qr picture,
    .qr picture img {
        width: 9rem;
        height: 9rem;
    }

    .qr>p {
        width: max-content;
        margin-bottom: .5rem;
    }

    .footer-desktop>.contacts-info {
        justify-content: center;
    }

    .footer-desktop>.contacts-info>div>p {
        width: max-content;
    }

    /* about us */
    .main-about h2 {
        text-align: left;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .main-about>p::after {
        content: "Contrary to popular belief, Galactic Ipsum isn't simply random text. It has been the cosmic standard placeholder text since the 22nd century, when a rogue spaceship captain took a cargo of language crystals and encoded them into a celestial language matrix. Contrary to popular belief, Galactic Ipsum isn't simply random text. It has been the cosmic standard placeholder text since the 22nd century, when a rogue spaceship captain took a cargo of language crystals and encoded them into a celestial language matrix.";
    }

    .main-about>* {
        margin: 0;
        margin-left: 20rem;
        margin-right: 20rem;
        padding: 0;
    }

    .main-about>.about-form {
        max-width: 45rem;
    }

    .main-about>.about-info-block {
        margin-top: 1rem;
    }

    .main-about>.qr {
        display: block;
    }

    .main-about>.about-form {
        margin-top: 2.5rem;
        padding: 0;
        position: relative;
    }

    /* menu */
    .menu-pagination-block {
        align-items: start;
    }

    /* booking */
    .main-book {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .main-book>h2 {
        text-align: left;
    }

    .main-book>* {
        width: 45rem;
        padding-left: 0;
        padding-right: 0;
    }

    .main-book>.btn {
        width: fit-content;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .main-book>.captcha {
        max-width: 22.5rem;
        margin: auto;
    }

    /* item */
    .item-additional-info {
        display: none;
    }

    .item-slider-container {

        height: 12.5rem;
        margin-top: 3rem;
    }

    .item-basis {
        max-width: 1032px;
        padding-top: 4rem;
    }

    .item-basis>picture {
        flex-basis: 40%;
        height: auto;
        width: auto;
    }

    .item-controls {
        flex-basis: 40%;
        flex-wrap: wrap;
        /* height: 100%; */
    }

    .item-controls>div:nth-child(1)>p {
        font-size: 1.875rem;
    }

    .item-description {
        display: none;
    }

    .item-description-desktop {
        display: block;
        margin-top: 3rem;
    }

    .info-screen {
        display: flex;
        gap: 1rem;
        width: 15rem;
        padding: 1rem;
        height: min-content;
        border-radius: .625rem;
        position: absolute;
        top: 1rem;
        left: 70%;
        margin: 0;
    }

    .info-screen>p {
        font-size: .9375rem;
    }

    .info-screen>p:nth-child(1) {
        font-size: 1.25rem;
    }

    .info-screen-btn {
        display: none;
    }

    .info-screen-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 1150px) {

    /* css */
    .main-about>.about-form>.about-form-btn {
        position: absolute;
        bottom: 0;
    }

    .main-about>.about-form>.captcha {
        max-width: 22.5rem;
    }

    .main-about>.about-form>.about-form-btn {
        right: 0;
    }
}

@media screen and (max-width: 1440px) {
    /* css */
}

/* PC */
@media screen and (min-width: 1441px) {
    /* css */
}