/* MAIN */
main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #343236;
    color: white;
}

main>* {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ini-screen {
    height: 100vh;
    background-color: #211F23;
    color: white;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 3.125rem; */
    justify-content: space-between;
}

.ini-screen>p {
    text-align: center;
}

.logo-main picture img {
    width: 22.5rem;
    max-width: 90vw;
    height: auto;
}

.slider-container {
    border: 1px solid green;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.viewport {
    border: 1px solid red;
    overflow: hidden;
    margin: auto;
    width: 600px;
    position: relative;
}

.slider {
    display: inline-flex;
    justify-content: space-around;
    /* change for num of elem */
    width: calc(100% * 5);
    border: 1px solid blue;
}


.slider-container picture,
.slider-container img {
    max-height: 12.5rem;
}

.slider-container picture img {
    border-radius: .625rem;
}

.slider-container .slider-prev{
    rotate: 180deg;
}
/* recomended */
.recomended-container,
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.recomended-container>p {
    margin: 0;
    color: #DBD3C5;
    font-size: 1.875rem;
    font-weight: 600;
}

.recomended-block {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.75rem;
    /* outline: 0.0625rem solid red; */
}

.recomended-item {
    flex: 0 47%;
    border-radius: 1.25rem;
    color: white;
    background-color: #211F23;
    padding: 0.625rem;
    /* outline: 0.0625rem solid green; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.25s;
}

.recomended-item-img {
    width: auto;
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: #DBD3C5;
}

.recomended-item-img picture img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.recomended-item-desc {
    font-size: 1.25rem;
}

.recomended-item-desc p {
    margin: 0;
}

.recomended-item-desc p:nth-child(2) {
    font-size: 0.9375rem;
    color: #DBD3C5;
}

.recomended-item-btn {
    font-size: 1.25rem;
    font-weight: 400;
    width: auto;
    height: 1.875rem;
}

/* avoid double line text in the button */
@media screen and (max-width: 380px) {
    .recomended-item-btn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .recomended-item-btn {
        font-size: 0.75rem;
    }
}

.gallery {
    display: none;
}