.main-order-made {
    padding-bottom: 1rem;
    gap: 1rem;
}

.main-order-made h2 {
    color: #FF5E00;
}

.main-order-made>.info-screen {
    display: flex;
}

.header-general>.shadow-mask-noclick {
    display: block;
}