body {
    margin: 0%;
    padding: 0%;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
}

/* HEADER */
header {
    height: 112px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.red {
    background-color: red;
    color: white;
}

.purple {
    background-color: #8B83F6;
}

.round {
    height: 17px;
    width: 17px;
    border-radius: 100px;
}

.header-back,
.header-story,
.header-shop,
.header-contact,
.header-whole,
.header-clone {
    width: 150px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid black; */
}

.header-logo {
    width: 200px;
    height: 52px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* outline: 2px solid red; */
}

.header-logo .logo {
    position: relative;
    width: 61px;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN */
#t1-left {
    width: 50%;
    outline: 1px solid black;
    text-align: center;
}

#t1-left > * {
    outline: 1px solid black;
}

#t1-left div img {
    width: 100%;
}

#t1-left>img {
    margin: 5%;
    width: 90%;
}

/* FOOTER */