form input[type="text"] {
    /* background-color: white; */
    border-bottom: 1px solid black;
    margin: 1px;
    padding: none;
    /* background-color: red; */
    /* color: green; */
}

form input::placeholder {
    color: red;
}

form input:focus {
    outline: none;
    /* border-bottom: 1px solid green; */
    /* transition: border 1s; */
}

.underline {
    position: absolute;
    width: 173px;
    height: 3px;
    /* left: -174px;
    top: 30px; */
    background-color: blue;
    /* visibility: hidden; */
}

form input:focus+.underline {
    visibility: visible;
    transition: 0.5s;
}