html,
button {
    background-color: rgb(103, 103, 103);
}

.icon-prev {
    rotate: 180deg;
}
.progress{
    background-color: rgb(198, 198, 198);
    width: 200px;
    height: 10px;   
}
.progress-current {
    background-color: blue;
    color: blue;
    height: 10px;
    width: 0%;
}
.item{
    border: 1px solid red;
}
.current{
    border: 1px solid blue;
}